@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url("https://images.pexels.com/photos/583846/pexels-photo-583846.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center/cover; 
} 

h3 {
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.75rem;
    margin: 20px 0 20px 0;
} 

input {
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    transition: all .5s ease-in-out;
}

.container {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    width: calc(20rem + 5vw);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createTasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25%;
    width: 80%;
}

#taskForm {
    display: flex;
    flex-direction: column;
    text-align: left;
} 

#taskInput:focus {
    border-bottom: 1.5px solid #4caf50;
}

.btn {
    outline: none;
    width: 7rem;
    height: 2rem;
    border: none;
    color: #fff;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    transition: all .2s ease-in;
} .normal {
    background-color: #4caf50;
    margin-top: 20px;
} .normal:hover {
    background-color: #388e3c;
}

.taskFilter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: inherit;
    margin-top: 30px;
} #filter:focus {
    border-bottom: 1.5px solid #fff;
}

.collection {
    height: fit-content;
    max-height: 15rem;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    margin: 10px 0 10px 0;
}

li {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    width: 100%;
    font-family: "Poppins", sans-serif;
    padding: 20px;
    line-height: .95rem;
    border: 1px solid rgba(255, 255, 255, 0.9);
    transition: all 0.5s ease-in;
}

.fas {
    color: #d32f2f;
    font-size: 1rem;
    transition: all 0.5s ease;
} .fas:hover {
    color: #e57373;
}

.dark{
    background-color: #d32f2f;
    margin: 0 0 30px 0;
} .dark:hover {
    background-color: #ef5350;
    color: #fff;
}